<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.journaldugeek.com/content/uploads/2020/04/cinema.jpg);">
  <div class="container">
    <h1>My Movies Lists</strong>!</h1>
    <br>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4">
        <%= link_to list_path(list), class: "text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://la1ere.francetvinfo.fr/image/n_OVhukDHSx9oQ-HrrwcD2jHdJA/600x400/outremer/2019/10/02/5d94d9355c110_bobine.jpg);">
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>
